In [1]:
import configparser

import pandas as pd
from sklearn.manifold import TSNE
from umap import UMAP

from cluster import ClusterVerbs


import matplotlib.pyplot as plt
%pylab inline
pylab.rcParams['figure.figsize'] = (8, 4)

Populating the interactive namespace from numpy and matplotlib

In [2]:
config = configparser.ConfigParser()
config.read('config.ini')

['config.ini']

In [3]:
cv = ClusterVerbs(weight='log_freq', rank=256, cutoff=100, clusser_dim=16)
df, labels = cv.main()

/home/makrai/tool/python/miniconda3/lib/python3.7/site-packages/umap/rp_tree.py:778: UserWarning: Random Projection forest initialisation failed due to recursionlimit being reached. Something is a little strange with your data, and this may take longer than normal to compute.
  "Random Projection forest initialisation failed due to recursion"
/home/makrai/tool/python/miniconda3/lib/python3.7/site-packages/umap/rp_tree.py:778: UserWarning: Random Projection forest initialisation failed due to recursionlimit being reached. Something is a little strange with your data, and this may take longer than normal to compute.
  "Random Projection forest initialisation failed due to recursion"

In [4]:
df['cluster'] = labels

In [5]:
df.head()

      0  cluster
0   NaN       -1
1    be       -1
2  have       -1
3   say       -1
4    do       -1

In [6]:
df[df.cluster==59]

             0  cluster
132      drive       59
140       walk       59
228      clear       59
303     travel       59
374       ride       59
381        fly       59
462       jump       59
500      cross       59
564     locate       59
709      climb       59
974       swim       59
1015      span       59
1085    divide       59
1124    narrow       59
1147  overlook       59
1202    wander       59
2553      roam       59
2868    border       59
2894   situate       59