In [1]:
import itertools
import numbers
import os.path
import pickle
import random

import numpy as np
from scipy.stats import entropy
import pandas as pd

import matplotlib.pyplot as plt
%pylab inline
pylab.rcParams['figure.figsize'] = (10, 6)

import logging
logging.basicConfig(level=logging.DEBUG, format='%(levelname)-8s [%(lineno)d] %(message)s')

/home/makrai/tool/python/miniconda3/lib/python3.7/site-packages/IPython/core/magics/pylab.py:160: UserWarning: pylab import has clobbered these variables: ['entropy', 'random']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"
DEBUG    [211] Loaded backend module://ipykernel.pylab.backend_inline version unknown.

Populating the interactive namespace from numpy and matplotlib

In [2]:
mazsola = pickle.load(open(
    '/mnt/permanent/Language/Hungarian/Dic/sass15-535k-igei-szerkezet/mazsola_adatbazis-1.0.pkl',
    mode='rb'))

# Describe

In [3]:
def column_entropy(name):
    vals = mazsola.groupby(name).size().values
    vals += [mazsola[name].isna().sum()]
    #logging.debug((name, vals))
    return entropy(vals)

In [4]:
%time names = sorted(mazsola.columns, key=column_entropy, reverse=True)

CPU times: user 8min 23s, sys: 1min 24s, total: 9min 48s
Wall time: 9min 48s

In [123]:
mazsola.sample()[names[:15]]

,NOM,ACC,INS,DAT,SUB,INE,SUP,DEL,ELA,ALL,ILL,ABL,ADE,után,FOR
522638,felbecsülhetetlen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
mazsola[names[:15]].describe()

,NOM,ACC,INS,DAT,SUB,INE,SUP,DEL,ELA,ALL,ILL,ABL,ADE,után,FOR
count,16724007,10908900,2139300,1714663,2097838,3030171,2024586,800642,633013,571568,802894,494922,318894,222024,205977
unique,382994,200337,97785,82058,81529,76808,51417,48231,45017,43833,38144,38098,27810,22711,22128
top,aki,NULL,ez,az,az,év,alapPOSS,az,ez,az,figyelem,az,mi,ez,eredményPOSS
freq,227679,2562438,70383,66588,170742,56966,80795,94319,27084,37204,25000,32224,22541,7472,7405