In [51]:
import configparser
import os
import pickle

import pandas as pd

import matplotlib.pyplot as plt
%pylab inline


config = configparser.ConfigParser()
config.read('config.ini')

Populating the interactive namespace from numpy and matplotlib

['config.ini']

In [12]:
tensor_dir = os.path.join(config['DEFAULT']['ProjectDirectory'], 'tensor/')

In [43]:
for i, j, k in zip(*stensor.subs):
    print(i)
    break

2

In [39]:
stensor.vals[0]

23.164037465612687

In [16]:
stensor, index = pickle.load(open(os.path.join(tensor_dir, 'sparstensr_log_freq_100.pkl'), mode='rb'))
ktensor, fit, n_iterations, exectimes = pickle.load(open(os.path.join(tensor_dir, 'ktensor_log_freq_100_256.pkl'), 
                                                         mode='rb'))

In [48]:
diffs = []
for (i, j, k), val in zip(zip(*stensor.subs), stensor.vals):
    val_krusk = (ktensor.lmbda * ktensor.U[0][i]).dot(ktensor.U[1][j] * ktensor.U[2][k])
    diffs.append((i, j, k, val_krusk - val))

In [52]:
df = pd.DataFrame(diffs)

In [64]:
list(index.keys())

['nsubj', 'ROOT', 'dobj']

In [65]:
for i in range(3):
    df[f'{i}_'] = df[i].apply(index[['nsubj', 'ROOT', 'dobj'][i]].inv.get)

In [66]:
df.sort_values(3)

          0    1    2          3      0_         1_           2_
56        3   87   18 -17.025609     you      click         post
542       5  431  204 -16.969414      we      price        match
793       5  324   97 -16.211906      we    reserve        right
347     176  324    1 -15.930247  rights    reserve
772       5   67  306 -15.876411      we    support      browser
...     ...  ...  ...        ...     ...        ...          ...
13156     5   21   16  10.478879      we    provide  information
4590     81  469    1  10.566806    name  trademark
1611      1  149  164  10.701311                eat         food
279956    6    2  206  11.067103      he       have      himself
32327     3    5  133  11.596801     you        get     yourself

[955501 rows x 7 columns]

In [26]:
stensor.vals

array([23.16403747, 22.82066766, 22.09347882, ...,  6.64385619,
        6.64385619,  6.64385619])

In [27]:
[u.shape for u in ktensor.U]

[(34903, 256), (22661, 256), (21963, 256)]