In [1]:
import configparser
import os
import pickle

import pandas as pd
import tensorly as tl

from eval_tensor import VerbTensorEvaluator

import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import logging
logging.basicConfig(level=logging.DEBUG,
        format='%(levelname)-8s [%(lineno)d] %(message)s')

In [3]:
config = configparser.ConfigParser()
config.read('config.ini')

['config.ini']

In [4]:
tensor_dir = os.path.join(config['DEFAULT']['ProjectDirectory'], 'tensor/')

In [5]:
weight = 'log_freq'

In [6]:
stensor, index = pickle.load(open(os.path.join(tensor_dir, f'sparstensr_{weight}_2000.pkl'), mode='rb'))

In [7]:
evalor = VerbTensorEvaluator()

In [8]:
evalor.load_embeddings()

In [13]:
len(stensor.data)

69826

In [14]:
diffs = []
for (i, j, k), val in zip(zip(*stensor.coords), stensor.data[:700]):
    tensor = evalor.decomped_tns.core
    for l, m in enumerate([i, j, k]):
        #logging.debug(evalor.decomped_tns.factors[l].shape)
        tensor = tl.tenalg.mode_dot(tensor, evalor.decomped_tns.factors[l][m], 0)
    diffs.append((i, j, k, tensor - val))

In [27]:
modes = ['nsubj', 'ROOT', 'dobj']

In [28]:
df = pd.DataFrame(diffs, columns=modes+['diff'])

In [33]:
for i in modes:
    df[f'{i}_'] = df[i].apply(index[i].inv.get)

In [37]:
df.sort_values('diff').head()

     nsubj  ROOT  dobj      diff nsubj_ ROOT_   dobj_
98       0     0  1925 -1.263298           be     EST
91       0     0  1005 -1.255417           be       i
99       0     0  2014 -1.250006           be    able
100      0     0  2143 -1.232978           be     Med
101      0     0  2369 -1.200506           be  LIABLE

In [38]:
df.sort_values('diff').tail()

    nsubj  ROOT  dobj      diff nsubj_ ROOT_    dobj_
39      0     0    51  1.464362           be     life
46      0     0    84  1.839587           be       do
62      0     0   170  1.841025           be  someone
31      0     0    36  1.918994           be    money
59      0     0   148  2.220258           be      who