In [ ]:
import configparser
import os
import pickle

import pandas as pd

import matplotlib.pyplot as plt
%pylab inline

In [1]:
config = configparser.ConfigParser()
config.read('config.ini')

Populating the interactive namespace from numpy and matplotlib

['config.ini']

In [2]:
tensor_dir = os.path.join(config['DEFAULT']['ProjectDirectory'], 'tensor/')

In [ ]:
weight = 'log freq'

In [9]:
weight = 'pmi'

In [10]:
stensor, index = pickle.load(open(os.path.join(tensor_dir, f'sparstensr_{weight}_100.pkl'), mode='rb'))
ktensor, fit, n_iterations, exectimes = pickle.load(open(os.path.join(tensor_dir, f'ktensor_{weight}_100_256.pkl'), 
                                                         mode='rb'))

In [12]:
diffs = []
for (i, j, k), val in zip(zip(*stensor.subs), stensor.vals):
    val_krusk = (ktensor.lmbda * ktensor.U[0][i]).dot(ktensor.U[1][j] * ktensor.U[2][k])
    diffs.append((i, j, k, val_krusk - val))

In [13]:
df = pd.DataFrame(diffs)

In [14]:
for i in range(3):
    df[f'{i}_'] = df[i].apply(index[['nsubj', 'ROOT', 'dobj'][i]].inv.get)

In [15]:
df.sort_values(3)

            0      1      2          3       0_            1_            2_
942556  34440  22475  21734 -47.027458       по    прошествии    eshopworld
936799  34325  22317  21615 -46.999308    #eyes       #crease       #lashes
928797  34162  22287  21561 -46.957624    mundo     aspirante     fundadore
938596  34309  22369  21606 -46.825173    #nice    #instagood        #igers
905519  33399  21845  21115 -46.581757    samma  sambuddhassa  sambuddhassa
...       ...    ...    ...        ...      ...           ...           ...
369593    293      2     89   9.462320     each          have        effect
54548      20     62     30   9.999940  company           pay             $
7368       73    220      1  10.411248     item        arrive
329432     87      2    153  10.590882     room          have          room
35764       3      2     89  12.801055      you          have        effect

[955501 rows x 7 columns]