In [1]:
import configparser

import pandas as pd

config = configparser.ConfigParser()
config.read('config.ini')

['config.ini']

In [3]:
df = pd.read_pickle(config['DEFAULT']['ProjectDirectory']+'/dataframe/assoc.pkl')

In [4]:
columns = ['freq'] + list(df.columns[-7:])

# _Interaction salience_ and _log Dice salience_ seem the best

In [5]:
df.sort_values('freq', ascending=False).head()[columns]

,,,freq,iact_info,npmi,niact,salience,iact_sali,log_dice,dice_sali
nsubj,ROOT,dobj,,,,,,,,
I,think,,9398750,0.286190,0.468436,0.040756,76.196102,6.629316,23.137485,535.957575
it,be,,7408077,0.707242,0.168611,0.096021,28.340986,16.139737,22.776755,519.780761
I,know,,4475070,0.212973,0.278992,0.026317,49.882528,4.705325,22.067628,487.550668
that,be,,4339360,0.445843,0.193615,0.054791,34.737479,9.830406,22.084690,486.946449
I,have,,3794298,0.058542,0.010595,0.007027,1.929030,1.279451,21.759142,475.554795

In [5]:
df.sort_values('pmi', ascending=False).head()[columns]

,,,freq,iact_info,npmi,niact,salience,iact_sali,log_dice,dice_sali
nsubj,ROOT,dobj,,,,,,,,
JFUSgEIilL,dgent,memphi,1,30.186154,2.0,1.0,0.0,0.0,28.011341,0.0
Rattus,nurvegigus,umur,1,30.186154,2.0,1.0,0.0,0.0,28.011341,0.0
ceham,sawta,quitel,1,30.186154,2.0,1.0,0.0,0.0,28.011341,0.0
Federaci,รณ,Lencas,1,30.186154,2.0,1.0,0.0,0.0,28.011341,0.0
serlium,cava,keiba,1,30.186154,2.0,1.0,0.0,0.0,28.011341,0.0

In [6]:
df.sort_values('iact_info', ascending=False).head()[columns]

,,,freq,iact_info,npmi,niact,salience,iact_sali,log_dice,dice_sali
nsubj,ROOT,dobj,,,,,,,,
treigladau,cysyniad,sbon,1,30.186154,2.0,1.0,0.0,0.0,28.011341,0.0
katฤฑlmak,baลka,sevinirim,1,30.186154,2.0,1.0,0.0,0.0,28.011341,0.0
tahtnr,npfcflld,rhnll,1,30.186154,2.0,1.0,0.0,0.0,28.011341,0.0
Ueako,elukpxjeiaebabvaeug,ialzne,1,30.186154,2.0,1.0,0.0,0.0,28.011341,0.0
Komancb,dwollx,castlo,1,30.186154,2.0,1.0,0.0,0.0,28.011341,0.0

In [7]:
df.sort_values('salience', ascending=False).head()[columns]

,,,freq,iact_info,npmi,niact,salience,iact_sali,log_dice,dice_sali
nsubj,ROOT,dobj,,,,,,,,
ED02,93e,8dba,6573,17.503818,2.000000,1.000000,443.978617,221.989309,28.011341,355.249248
imรกgenes,utilizar,comerciale,4593,18.020933,2.000000,1.000000,438.457278,219.228639,28.011341,340.764158
se,encuentra,imagen,4593,17.632280,1.978224,0.978433,433.683427,214.500582,27.871831,339.066982
Nous,somme,survenue,3945,18.102974,1.985562,0.992469,432.645345,216.254686,27.922237,333.553729
whitengrey,zellner,whatis,3046,18.613454,2.000000,1.000000,430.815853,215.407926,28.011341,324.166854

In [8]:
df.sort_values('iact_sali', ascending=False).head()[columns]

,,,freq,iact_info,npmi,niact,salience,iact_sali,log_dice,dice_sali
nsubj,ROOT,dobj,,,,,,,,
ED02,93e,8dba,6573,17.503818,2.000000,1.000000,443.978617,221.989309,28.011341,355.249248
imรกgenes,utilizar,comerciale,4593,18.020933,2.000000,1.000000,438.457278,219.228639,28.011341,340.764158
Nous,somme,survenue,3945,18.102974,1.985562,0.992469,432.645345,216.254686,27.922237,333.553729
whitengrey,zellner,whatis,3046,18.613454,2.000000,1.000000,430.815853,215.407926,28.011341,324.166854
se,encuentra,imagen,4593,17.632280,1.978224,0.978433,433.683427,214.500582,27.871831,339.066982

In [12]:
df.sort_values('npmi', ascending=False).head()[columns]

,,,freq,iact_info,npmi,niact,salience,iact_sali,log_dice,dice_sali
nsubj,ROOT,dobj,,,,,,,,
#romance,10episode,#gonemaybegone,1,30.186154,2.0,1.0,0.000000,0.000000,28.011341,0.000000
Bรกttar,bheรณs,mhรณr,1,30.186154,2.0,1.0,0.000000,0.000000,28.011341,0.000000
FADE,white/black/red,FADE,2,29.186154,2.0,1.0,58.372309,29.186154,28.011341,28.011341
Biznesa,augstskola,Turiba,1,30.186154,2.0,1.0,0.000000,0.000000,28.011341,0.000000
it_recipe_stewmeat_03,it_recipe_sting,It_Recipe_XP,1,30.186154,2.0,1.0,0.000000,0.000000,28.011341,0.000000

In [13]:
df.sort_values('niact', ascending=False).head()[columns]

,,,freq,iact_info,npmi,niact,salience,iact_sali,log_dice,dice_sali
nsubj,ROOT,dobj,,,,,,,,
Original-Datei,erstellt,durchsuchbar,81,23.846304,2.0,1.0,302.363987,151.181994,28.011341,177.587701
Pseudoalteromonas,haloplankti,Pseudoalteromonas,43,24.759890,2.0,1.0,268.707434,134.353717,28.011341,151.996953
ะฟะพ,ะฟัะพัะตััะฒะธะธ,eshopworld,102,23.513729,2.0,1.0,313.787204,156.893602,28.011341,186.903583
Caldisphaera,lagunensis,fonti,34,25.098692,2.0,1.0,255.377322,127.688661,28.011341,142.506657
Nordik,lรถgfrรฆรฐiรพjรณnusta,Ntrakwah,443,21.394992,2.0,1.0,376.173712,188.086856,28.011341,246.252263

In [9]:
df.sort_values('log_dice', ascending=False).head()[columns]

,,,freq,iact_info,npmi,niact,salience,iact_sali,log_dice,dice_sali
nsubj,ROOT,dobj,,,,,,,,
Ueako,elukpxjeiaebabvaeug,ialzne,1,30.186154,2.0,1.0,0.0,0.0,28.011341,0.0
ihiiiuu,illmliigtimittt,enil,1,30.186154,2.0,1.0,0.0,0.0,28.011341,0.0
Scuole,lombarda,piemontese,1,30.186154,2.0,1.0,0.0,0.0,28.011341,0.0
iiber,ebenholz,scch,1,30.186154,2.0,1.0,0.0,0.0,28.011341,0.0
Sekilas,specnya,kasih,1,30.186154,2.0,1.0,0.0,0.0,28.011341,0.0

In [10]:
df.sort_values('dice_sali', ascending=False).head()[columns]

,,,freq,iact_info,npmi,niact,salience,iact_sali,log_dice,dice_sali
nsubj,ROOT,dobj,,,,,,,,
I,think,,9398750,0.286190,0.468436,0.040756,76.196102,6.629316,23.137485,535.957575
it,be,,7408077,0.707242,0.168611,0.096021,28.340986,16.139737,22.776755,519.780761
I,know,,4475070,0.212973,0.278992,0.026317,49.882528,4.705325,22.067628,487.550668
that,be,,4339360,0.445843,0.193615,0.054791,34.737479,9.830406,22.084690,486.946449
I,have,,3794298,0.058542,0.010595,0.007027,1.929030,1.279451,21.759142,475.554795