In [1]:
import pandas as pd

In [11]:
df = pd.read_pickle('/mnt/permanent/home/makrai/project/verb-tensor/verb/dataframe/assoc0.pkl')

In [19]:
columns = ['freq'] + list(df.columns[-7:])

In [20]:
df[columns].describe(percentiles=[])

,freq,log_prob,pmi,iact_info,salience,iact_sali,log_dice,dice_sali
count,6.174741e+06,6.174741e+06,6.174741e+06,6.174741e+06,6.174741e+06,6.174741e+06,6.174741e+06,6.174741e+06
mean,1.012579e+01,-2.474943e+01,1.084159e+01,5.200750e+01,8.347652e+00,5.249631e+01,6.629923e+00,8.719768e+00
std,1.717650e+02,1.690346e+00,7.916032e+00,6.066386e+00,1.652677e+01,7.149946e+01,3.188914e+00,1.575975e+01
min,1.000000e+00,-2.589791e+01,0.000000e+00,1.356862e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000e+00,-2.589791e+01,9.563662e+00,5.247556e+01,0.000000e+00,0.000000e+00,6.649766e+00,0.000000e+00
max,1.035400e+05,-9.238081e+00,5.179582e+01,7.620233e+01,3.296443e+02,3.864094e+02,2.293380e+01,3.272216e+02

# _Interaction salience_ and _log Dice salience_ seem the best

In [21]:
#df = df.reset_index()

In [23]:
df[columns].head()

                      freq  log_prob       pmi  iact_info    salience  \
nsubj ROOT dobj
i     have problem  103540 -9.238081  3.115941  18.724774   51.911051
      tell you       96753 -9.335891  4.601613  19.344625   76.212009
      have idea      90588 -9.430877  3.191004  18.899470   52.546367
it    make sense     82259 -9.570023  8.291179  18.373696  135.377421
i     love it        71339 -9.775506  3.131540  18.453903   50.487944

                     iact_sali   log_dice   dice_sali
nsubj ROOT dobj
i     have problem  311.951535  16.639930  277.218379
      tell you      320.386041  17.076810  282.826446
      have idea     311.218188  16.450561  270.891928
it    make sense    300.003607  18.628349  304.161555
i     love it       297.521273  16.536001  266.600074

In [24]:
df.sort_values('pmi', ascending=False).head()[columns]

,,,freq,log_prob,pmi,iact_info,salience,iact_sali,log_dice,dice_sali
nsubj,ROOT,dobj,,,,,,,,
òå,îæèäàòü,îôèöèàëüíîãî,1,-25.897909,51.795819,25.897909,0.0,0.0,22.933801,0.0
osinn,fyrimaelti,fornald,1,-25.897909,51.795819,25.897909,0.0,0.0,22.933801,0.0
asiakkaat,jotka,tuotteesta,1,-25.897909,51.795819,25.897909,0.0,0.0,22.933801,0.0
temat,samego,napisać,1,-25.897909,51.795819,25.897909,0.0,0.0,22.933801,0.0
troisform,taingent,lormio,1,-25.897909,51.795819,25.897909,0.0,0.0,22.933801,0.0

In [25]:
df.sort_values('iact_info', ascending=False).head()[columns]

,,,freq,log_prob,pmi,iact_info,salience,iact_sali,log_dice,dice_sali
nsubj,ROOT,dobj,,,,,,,,
fig.,do,significance,1,-25.897909,1.491403,76.202325,0.0,0.0,3.930821,0.0
dog,buy,topic,1,-25.897909,3.789089,73.904639,0.0,0.0,5.740705,0.0
project,watch,command,1,-25.897909,3.943282,73.750446,0.0,0.0,6.576231,0.0
feature,think,obligation,1,-25.897909,4.123792,73.569936,0.0,0.0,6.198293,0.0
fund,tell,article,1,-25.897909,1.040926,73.330873,0.0,0.0,4.337663,0.0

In [26]:
df.sort_values('salience', ascending=False).head()[columns]

,,,freq,log_prob,pmi,iact_info,salience,iact_sali,log_dice,dice_sali
nsubj,ROOT,dobj,,,,,,,,
declara,aceptar,images,2949,-14.371899,28.600038,14.515660,329.644323,167.307644,22.884271,263.764344
nous,somme,survenue,2665,-14.517989,28.939636,14.574293,329.330732,165.854281,22.901503,260.617272
donec,id,turpis,3952,-13.949542,27.342112,14.499958,326.693600,173.250820,22.729355,271.578678
sie,diese,fenster,2490,-14.615979,28.898818,14.904620,326.034443,168.152884,22.820732,257.461902
mashable,redefine,storytelling,3612,-14.079327,27.444238,14.793744,324.351978,174.841076,22.682597,268.076141

In [27]:
df.sort_values('iact_sali', ascending=False).head()[columns]

                            freq   log_prob       pmi  iact_info   salience  \
nsubj  ROOT    dobj
report see     day          1241 -15.620622  8.223372  37.598389  84.513960
you    provide we           4354 -13.809784  2.577921  31.824025  31.162231
       support development  3916 -13.962744  8.011913  31.817976  95.623505
we     give    minute       2510 -14.604438  3.921936  33.269924  44.292273
you    reserve price        1010 -15.917770  5.413487  37.536385  54.027353

                             iact_sali   log_dice   dice_sali
nsubj  ROOT    dobj
report see     day          386.409446  14.224195  146.186141
you    provide we           384.692815  13.547158  163.759752
       support development  379.752790  13.602817  162.351868
we     give    minute       375.732943  13.011143  146.940976
you    reserve price        374.618358  11.658667  116.355120

In [28]:
df.sort_values('log_dice', ascending=False).head()[columns]

,,,freq,log_prob,pmi,iact_info,salience,iact_sali,log_dice,dice_sali
nsubj,ROOT,dobj,,,,,,,,
catálogo,descriptivo,ilustrado,1,-25.897909,51.795819,25.897909,0.0,0.0,22.933801,0.0
czło­,wieka,osiąg­nięcia,1,-25.897909,51.795819,25.897909,0.0,0.0,22.933801,0.0
cliill,rontulti,ulock,1,-25.897909,51.795819,25.897909,0.0,0.0,22.933801,0.0
olarak,depolamak,isteriz,1,-25.897909,51.795819,25.897909,0.0,0.0,22.933801,0.0
catolicius,protestanţii,întâlnesc,1,-25.897909,51.795819,25.897909,0.0,0.0,22.933801,0.0

In [29]:
df.sort_values('dice_sali', ascending=False).head()[columns]

,,,freq,log_prob,pmi,iact_info,salience,iact_sali,log_dice,dice_sali
nsubj,ROOT,dobj,,,,,,,,
use,constitute,acceptance,32215,-10.922464,18.814581,13.568617,281.756719,203.196076,21.850542,327.221590
coating,protect,print,17707,-11.785877,21.099875,14.253932,297.762114,201.151946,21.986911,310.279994
account,pend,confirmation,12253,-12.317062,23.309840,13.641346,316.567380,185.261034,22.465594,305.101798
it,make,sense,82259,-9.570023,8.291179,18.373696,135.377421,300.003607,18.628349,304.161555
jump,select,forum,18053,-11.757958,19.511726,15.687629,275.894846,221.822309,21.322364,301.497187