In [54]:
import nltk
import pickle
import pandas as pd

In [5]:
from nltk.corpus import verbnet as vn

In [24]:
vn.classids(lemma='give')

['give-13.1-1']

In [25]:
vn.lemmas('give-13.1-1')

['give', 'hock', 'rent', 'sell', 'lease', 'pawn']

In [26]:
vn.lemmas('give-13.1')

['lend', 'loan', 'pass', 'peddle', 'refund', 'render', 'volunteer']

In [43]:
vn.frames('give-13.1-1')[0]#['semantics']#[0]

{'example': 'He leased the car for $200 a week.',
 'description': {'primary': 'NP-PP', 'secondary': 'Asset-PP'},
 'syntax': [{'pos_tag': 'NP',
   'modifiers': {'value': 'Agent', 'selrestrs': [], 'synrestrs': []}},
  {'pos_tag': 'VERB',
   'modifiers': {'value': '', 'selrestrs': [], 'synrestrs': []}},
  {'pos_tag': 'NP',
   'modifiers': {'value': 'Theme', 'selrestrs': [], 'synrestrs': []}},
  {'pos_tag': 'PREP',
   'modifiers': {'value': 'for at', 'selrestrs': [], 'synrestrs': []}},
  {'pos_tag': 'NP',
   'modifiers': {'value': 'Asset', 'selrestrs': [], 'synrestrs': []}}],
 'semantics': [{'predicate_value': 'has_possession',
   'arguments': [{'type': 'Event', 'value': 'start(E)'},
    {'type': 'ThemRole', 'value': 'Agent'},
    {'type': 'ThemRole', 'value': 'Theme'}]},
  {'predicate_value': 'has_possession',
   'arguments': [{'type': 'Event', 'value': 'end(E)'},
    {'type': 'ThemRole', 'value': '?Recipient'},
    {'type': 'ThemRole', 'value': 'Theme'}]},
  {'predicate_value': 'has_possession',
   'arguments': [{'type': 'Event', 'value': 'start(E)'},
    {'type': 'ThemRole', 'value': '?Recipient'},
    {'type': 'ThemRole', 'value': 'Asset'}]},
  {'predicate_value': 'has_possession',
   'arguments': [{'type': 'Event', 'value': 'end(E)'},
    {'type': 'ThemRole', 'value': 'Agent'},
    {'type': 'ThemRole', 'value': 'Asset'}]},
  {'predicate_value': 'transfer',
   'arguments': [{'type': 'Event', 'value': 'during(E)'},
    {'type': 'ThemRole', 'value': 'Theme'}]}]}

In [50]:
coo, index = pickle.load(open('/mnt/permanent/home/makrai/project/verb-tensor/tensorly/tensor/sparstensr_log_freq_2000.pkl',
                    mode='rb'))

In [79]:
df = pd.DataFrame(index['ROOT'], columns=['verb'])

In [80]:
df['vnclass'] = df.verb.apply(lambda lemma: ' '.join(sorted(vn.classids(lemma=lemma))))

In [81]:
df.groupby('vnclass').size().sort_values(ascending=False).head(20)

vnclass
                             3229
other_cos-45.4                 80
amuse-31.1                     61
judgement-33                   24
run-51.3.2                     23
admire-31.2                    18
butter-9.9                     15
captain-29.8-1                 14
tape-22.4                      13
fill-9.8                       12
characterize-29.2              12
force-59                       11
get-13.5.1                     10
nonverbal_expression-40.2      10
future_having-13.3              9
pocket-9.10                     9
say-37.7                        8
obtain-13.5.2                   8
search-35.2                     7
correspond-36.1                 7
dtype: int64

In [82]:
df.shape

(4757, 2)

In [93]:
df[df.vnclass==''].head(10)

     verb vnclass
0      be
1    have
3      do
10  -rrb-
27  -lrb-
28     it
37   seem
41      ,
42   able
44    one

In [87]:
df[df.vnclass=='other_cos-45.4'].head()

        verb         vnclass
115  improve  other_cos-45.4
361  perfect  other_cos-45.4
398  correct  other_cos-45.4
402     cool  other_cos-45.4
416   expand  other_cos-45.4

In [88]:
df[df.vnclass=='judgement-33'].head()

          verb       vnclass
59       thank  judgement-33
461  celebrate  judgement-33
607     attack  judgement-33
664      fault  judgement-33
829      honor  judgement-33